@model MVC.Models.Exam

@{
    ViewBag.Title = "Edit Exam Grade";
    Layout = "~/Views/Shared/FloatingHeader.cshtml";
}
@{
    ViewBag.Title = "EditExamGradeConfirmLec";
}


<html>
<head>
    <h2>Confirm edit exam grade</h2>
</head>
<style>
    html {
        background-image: url('../../images/backgroundwhite.jpg');
        background-size: cover;
    }

    table, th, td, h2 {
        border: 1px solid black;
        border-collapse: separate;
        background-color: white;
    }

    th, td {
        padding: 5px;
    }
</style>



<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Exams:</h4>
            <hr />

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ExamIndex, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExamIndex, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.ExamIndex, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CourseId)
            <div class="form-group">
                @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.StudentId)
            <div class="form-group">
                @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StudentId, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.CourseName)
            <div class="form-group">
                @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.MoedADate)
            <div class="form-group">
                @Html.LabelFor(model => model.MoedADate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoedADate, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.MoedADate, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.ClassA)
            <div class="form-group">
                @Html.LabelFor(model => model.ClassA, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClassA, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.ClassA, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.MoedBDate)
            <div class="form-group">
                @Html.LabelFor(model => model.MoedBDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoedBDate, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.MoedBDate, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.HiddenFor(model => model.ClassB)
            <div class="form-group">
                @Html.LabelFor(model => model.ClassB, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ClassB, new { htmlAttributes = new { disabled = "disabled" } })
                    @Html.ValidationMessageFor(model => model.ClassB, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Grade, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
                    if (ViewBag.error != null)
                    {
                        <span style="color:red">@ViewBag.error</span>
                        <br />
                    }
                    if (ViewBag.error2 != null)
                    {
                        <span style="color:red">@ViewBag.error2</span>
                        <br />
                    }
                }
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
                    }

    <div>
        @Html.ActionLink("Back to List", "EditExamGradeLec")
    </div>

</body>

</html>
