@model MVC.ModelView.LecturerViewModel

@{
    ViewBag.Title = "EditExam";
    Layout = "~/Views/Shared/FloatingHeader.cshtml";
}

@{
    ViewBag.Title = "EditExamGrade";
}


<html>
<style>
    html {
        background-image: url('../../images/backgroundwhite.jpg');
        background-size: cover;
    }

    table, th, td, h2 {
        border: 1px solid black;
        border-collapse: separate;
        background-color: white;
    }

    th, td {
        padding: 5px;
    }
</style>



<head>
    <h2>Edit Exam Grade - Lecturer</h2>
</head>
<font color="blue" size="4">Exams Details:  </font>
<body>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Exam.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.MoedADate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.ClassA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.MoedBDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.ClassB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.Grade)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Exams)
        {
            foreach (var item2 in Model.Lecturers)
            {
                if (item.CourseId == item2.CourseId && item2.LecId == @Session["currUserId"].ToString())
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StudentId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoedADate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MoedBDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ClassB)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "EditExamGradeConfirmLec", new { ExamIndex = item.ExamIndex, ExamCourseId = item.CourseId, ExamStudentId = item.StudentId, ExamCourseName = item.CourseName, ExamMoedADate = item.MoedADate, ExamMoedAClass = item.ClassA, ExamMoedBDate = item.MoedBDate, ExamMoedBClass = item.ClassB, ExamGrade = item.Grade })
                        </td>
                    </tr>
                }
            }
        }

    </table>

</body>
</html>